body {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}
::-webkit-scrollbar {
  display: none;
}
body {
  background-color: hsl(218, 23%, 16%);
}
@media screen and (max-width: 480px) and (orientation: landscape) {
  .content {
    margin: 0 auto;
    margin-top: 1.5rem;
    margin-bottom: 5rem;
    width: 88vw;
  }
  .content > h5 {
    font-family: "Barlow Condensed", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 19px;
    text-align: center;
    letter-spacing: 2.7px;
    margin-bottom: 1em;
    color: #d0d6f9;
    text-transform: uppercase;
  }
  .content > h1 {
    font-family: "Bellefair", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 1.25em;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
  }
  .content > p {
    font-family: "Barlow Condensed", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.7em;
    text-align: center;
    color: #d0d6f9;
    margin-top: 1rem;
  }
  .explore > a {
    font-family: "Bellefair", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    text-decoration: none;
    color: #0b0d17;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .explore {
    margin: 0 auto;
    width: 9.375rem;
    height: 9.375rem;
    background-color: #ffffff;
    border-radius: 50%;
    overflow: hidden;
  }
}
@media screen and (max-width: 480px) and (orientation: portrait) {
  .content {
    margin: 0 auto;
    margin-top: 1.5rem;
    margin-bottom: 5rem;
    width: 88vw;
  }
  .content > h5 {
    font-family: "Barlow Condensed", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 19px;
    text-align: center;
    letter-spacing: 2.7px;
    margin-bottom: 1em;
    color: #d0d6f9;
    text-transform: uppercase;
  }
  .content > h1 {
    font-family: "Bellefair", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 1.25em;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
  }
  .content > p {
    font-family: "Barlow Condensed", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.7em;
    text-align: center;
    color: #d0d6f9;
    margin-top: 1rem;
  }
  .explore > a {
    font-family: "Bellefair", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    text-decoration: none;
    color: #0b0d17;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .explore {
    margin: 0 auto;
    width: 9.375rem;
    height: 9.375rem;
    background-color: #ffffff;
    border-radius: 50%;
    overflow: hidden;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) and (orientation: landscape) {
  .content {
    width: 100%;
    margin: 0 auto;
    margin-top: 6.625rem;
    margin-bottom: 9.75rem;
  }
  .content > h5 {
    font-family: "Barlow Condensed", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 3.375px;
    color: #d0d6f9;
    text-transform: uppercase;
    width: 58.59vw;
    margin: 0 auto;
    margin-bottom: 1.2em;
  }
  .content > h1 {
    font-family: "Bellefair", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 150px;
    line-height: 1em;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
  }
  .content > p {
    font-family: "Barlow Condensed", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75em;
    text-align: center;
    color: #d0d6f9;
    margin: 0 auto;
    width: 58.59vw;
    margin-bottom: 1.2em;
    margin-top: 1em;
  }
  .explore > a {
    font-family: "Bellefair", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    color: #0b0d17;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .explore {
    margin: 0 auto;
    width: 15.125rem;
    height: 15.125rem;
    background-color: #ffffff;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 5rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) and (orientation: landscape) {
  .home {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: calc(100vh - 8.5em);
    padding-bottom: 8.1875rem;
  }
  .explore {
    width: 15.125rem;
    aspect-ratio: 1;
    background-color: #ffffff;
    border-radius: 50%;
    position: relative;
  }
  .explore > a {
    font-family: "Bellefair", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    color: #0b0d17;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .content {
    width: 28.125rem;
  }
  .content > h5 {
    font-family: "Barlow Condensed", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    letter-spacing: 3.375px;
    color: #d0d6f9;
    text-transform: uppercase;
    margin-bottom: 0.875em;
  }
  .content > h1 {
    font-family: "Bellefair", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 150px;
    line-height: 1em;
    text-align: left;
    color: #ffffff;
    text-transform: uppercase;
  }
  .content > p {
    font-family: "Barlow Condensed", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75em;
    text-align: left;
    color: #d0d6f9;
    margin: 0 auto;
    margin-bottom: 1.2em;
    margin-top: 1.33em;
  }
}
@media screen and (min-width: 481px) and (max-width: 1024px) and (orientation: portrait) {
  .content {
    width: 100%;
    margin: 0 auto;
    margin-top: 6.625rem;
    margin-bottom: 9.75rem;
  }
  .content > h5 {
    font-family: "Barlow Condensed", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 3.375px;
    color: #d0d6f9;
    text-transform: uppercase;
    width: 58.59vw;
    margin: 0 auto;
    margin-bottom: 1.2em;
  }
  .content > h1 {
    font-family: "Bellefair", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 150px;
    line-height: 1em;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
  }
  .content > p {
    font-family: "Barlow Condensed", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75em;
    text-align: center;
    color: #d0d6f9;
    margin: 0 auto;
    width: 58.59vw;
    margin-bottom: 1.2em;
    margin-top: 1em;
  }
  .explore > a {
    font-family: "Bellefair", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    color: #0b0d17;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .explore {
    margin: 0 auto;
    width: 15.125rem;
    height: 15.125rem;
    background-color: #ffffff;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 5rem;
  }
}
@media screen and (min-width: 1025px) {
  .home {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-end;
    width: 100vw;
    height: calc(100vh - 8.5em);
    padding-top: auto;
    padding-bottom: 8.1875rem;
  }
  .explore {
    width: clamp(14rem, 19.03vw, 17.125rem);
    aspect-ratio: 1;
    background-color: #ffffff;
    border-radius: 50%;
    position: relative;
  }
  .explore > a {
    font-family: "Bellefair", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    color: #0b0d17;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .content {
    width: 28.125rem;
  }
  .content > h5 {
    font-family: "Barlow Condensed", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    text-align: left;
    letter-spacing: 4.725px;
    color: #d0d6f9;
    text-transform: uppercase;
    margin-bottom: 0.875em;
  }
  .content > h1 {
    font-family: "Bellefair", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 150px;
    line-height: 1.15em;
    text-align: left;
    color: #ffffff;
    text-transform: uppercase;
  }
  .content > p {
    font-family: "Barlow Condensed", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.77em;
    text-align: left;
    color: #d0d6f9;
    margin: 0 auto;
    margin-bottom: 1.2em;
    margin-top: 1.33em;
  }
  .explore > a::after {
    content: " ";
    position: absolute;
    z-index: -2;
    width: 0;
    aspect-ratio: 1;
    background-color: #ffffff;
    opacity: 1;
    border-radius: 50%;
    mix-blend-mode: normal;
    isolation: isolate;
    transition: all 0.5s ease-out;
  }
  .explore > a:hover::after {
    width: clamp(20rem, 31.25vw, 28.125rem);
    opacity: 0.1;
  }
}
