.technology > .header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.portrait {
  display: none;
}
@media screen and (max-width: 480px) and (orientation: portrait) {
  .technology {
    .header {
      width: fit-content;
      margin: 0 auto;
      font-size: 16px;
      line-height: 1.2em;
      color: #ffffff;
      mix-blend-mode: normal;
      font-weight: 700;
      letter-spacing: 2.7px;
      font-family: "Barlow Condensed", sans-serif;
      text-transform: uppercase;
      .span {
        margin-right: 18px;
        opacity: 0.25;
      }
      h3 {
        line-height: 1.1875em;
      }
    }
    .img-parent {
      width: 100vw;
      height: fit-content;
      margin-top: 2em;
      margin-bottom: 2em;
      .landscape {
        display: block;
        width: 100%;
      }
    }
    .btn-parent {
      width: fit-content;
      margin: 0 auto;
      display: flex;
      flex-flow: row wrap;
      gap: 1rem;
      margin-bottom: 1.625rem;
      .btn {
        background: none;
        border: rgba(255, 255, 255, 0.1) 1.5px solid;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        cursor: pointer;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #ffffff;
        width: 2.5rem;
        aspect-ratio: 1;
        font-family: "Bellefair", serif;
      }
      .active-btn {
        background: #ffffff;
        color: #0b0d17;
      }
    }
    .main-content {
      width: 90vw;
      margin: 0 auto;
    }

    .main-content > .term {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      text-align: center;
      letter-spacing: 2.3625px;
      color: #d0d6f9;
      font-family: "Barlow Condensed", sans-serif;
      margin-bottom: 9px;
      text-transform: uppercase;
    }
    .main-content > .name {
      font-weight: 400;
      font-size: 24px;
      line-height: 28px;
      text-align: center;
      text-transform: uppercase;
      color: #ffffff;
      font-family: "Bellefair", serif;
      margin-bottom: 1rem;
    }
    .main-content > .desc {
      font-weight: 400;
      font-size: 15px;
      line-height: 25px;
      font-family: "Barlow Condensed", sans-serif;
      text-align: center;
      color: #d0d6f9;
    }
  }
}
@media screen and (max-width: 480px) and (orientation: landscape) {
  .technology {
    .header {
      width: fit-content;
      margin: 0 auto;
      font-size: 16px;
      line-height: 1.2em;
      color: #ffffff;
      mix-blend-mode: normal;
      font-weight: 700;
      letter-spacing: 2.7px;
      font-family: "Barlow Condensed", sans-serif;
      text-transform: uppercase;
      .span {
        margin-right: 18px;
        opacity: 0.25;
      }
      h3 {
        line-height: 1.1875em;
      }
    }
    .img-parent {
      width: 100vw;
      height: fit-content;
      margin-top: 2em;
      margin-bottom: 2em;
      .landscape {
        display: block;
        width: 100%;
      }
    }
    .btn-parent {
      width: fit-content;
      margin: 0 auto;
      display: flex;
      flex-flow: row wrap;
      gap: 1rem;
      margin-bottom: 1.625rem;
      .btn {
        background: none;
        border: rgba(255, 255, 255, 0.1) 1.5px solid;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        cursor: pointer;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #ffffff;
        width: 2.5rem;
        aspect-ratio: 1;
        font-family: "Bellefair", serif;
      }
      .active-btn {
        background: #ffffff;
        color: #0b0d17;
      }
    }
    .main-content {
      width: 90vw;
      margin: 0 auto;
    }

    .main-content > .term {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      text-align: center;
      letter-spacing: 2.3625px;
      color: #d0d6f9;
      font-family: "Barlow Condensed", sans-serif;
      margin-bottom: 9px;
      text-transform: uppercase;
    }
    .main-content > .name {
      font-weight: 400;
      font-size: 24px;
      line-height: 28px;
      text-align: center;
      text-transform: uppercase;
      color: #ffffff;
      font-family: "Bellefair", serif;
      margin-bottom: 1rem;
    }
    .main-content > .desc {
      font-weight: 400;
      font-size: 15px;
      line-height: 25px;
      font-family: "Barlow Condensed", sans-serif;
      text-align: center;
      color: #d0d6f9;
    }
  }
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .technology {
    .header {
      width: fit-content;
      margin-top: 2.5em;
      margin-left: 2.5em;
      margin-bottom: 3.75em;
      font-size: 20px;
      line-height: 1.2em;
      color: #ffffff;
      mix-blend-mode: normal;
      font-weight: 700;
      letter-spacing: 3.375px;
      font-family: "Barlow Condensed", sans-serif;
      text-transform: uppercase;
      .span {
        margin-right: 0.95em;
        opacity: 0.25;
      }
    }
    .img-parent {
      width: 100vw;
      height: fit-content;
      margin-bottom: 3.5rem;
      .landscape {
        display: block;
        width: 100%;
      }
    }
    .btn-parent {
      width: fit-content;
      margin: 0 auto;
      display: flex;
      flex-flow: row wrap;
      gap: 1rem;
      margin-bottom: 2.75rem;
      .btn {
        background: none;
        border: rgba(255, 255, 255, 0.1) 1.5px solid;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        cursor: pointer;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #ffffff;
        width: 3.75rem;
        aspect-ratio: 1;
        font-family: "Bellefair", serif;
      }
      .active-btn {
        background: #ffffff;
        color: #0b0d17;
      }
    }
    .main-content {
      width: 60vw;
      margin: 0 auto;
    }
    .main-content > .term {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      letter-spacing: 2.7px;
      color: #d0d6f9;
      font-family: "Barlow Condensed", sans-serif;
      margin-bottom: 1rem;
      text-transform: uppercase;
    }
    .main-content > .name {
      font-weight: 400;
      font-size: 40px;
      line-height: 46px;
      text-align: center;
      text-transform: uppercase;
      color: #ffffff;
      font-family: "Bellefair", serif;
      margin-bottom: 1rem;
    }
    .main-content > .desc {
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
      font-family: "Barlow Condensed", sans-serif;
      text-align: center;
      color: #d0d6f9;
      margin-bottom: 6.0625rem;
    }
  }
}
@media screen and (min-width: 1025px) {
  .technology {
    .header {
      width: fit-content;
      margin-top: 4.75rem;
      margin-left: 10.40625rem;
      margin-bottom: 1.625rem;
      font-size: 28px;
      line-height: 34px;
      color: #ffffff;
      mix-blend-mode: normal;
      font-weight: 700;
      letter-spacing: 4.725px;
      font-family: "Barlow Condensed", sans-serif;
      text-transform: uppercase;
      .span {
        margin-right: 1em;
        opacity: 0.25;
      }
    }
    .flex {
      display: flex;
      width: 100vw;
      flex-flow: row wrap;
      align-content: center;
      padding-bottom: 100px;
    }
    .img-parent {
      width: 35.8vw;
      align-self: center;
      margin-left: auto;
      order: 3;
      .landscape {
        display: none;
      }
      .portrait {
        width: 100%;
        display: block;
      }
    }
    .main-content {
      align-self: center;
      width: 32.64vw;
      order: 2;
      margin-right: 9.03vw;
    }
    .btn-parent {
      order: 1;
      align-self: center;
      width: fit-content;
      display: flex;
      flex-flow: column wrap;
      gap: 2rem;
      margin-right: 5.55vw;
      margin-left: auto;

      .btn {
        background: none;
        border: rgba(255, 255, 255, 0.1) 1.5px solid;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        cursor: pointer;
        font-weight: 400;
        font-size: 32px;
        line-height: 37px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #ffffff;
        width: 5rem;
        aspect-ratio: 1;
        font-family: "Bellefair", serif;
      }
      .active-btn {
        background: #ffffff;
        color: #0b0d17;
      }
    }
    .main-content > .term {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      text-align: left;
      letter-spacing: 2.7px;
      color: #d0d6f9;
      font-family: "Barlow Condensed", sans-serif;
      margin-bottom: 11px;
      text-transform: uppercase;
    }
    .main-content > .name {
      font-weight: 400;
      font-size: 56px;
      line-height: 64px;
      text-align: left;
      text-transform: uppercase;
      color: #ffffff;
      font-family: "Bellefair", serif;
      margin-bottom: 1rem;
    }
    .main-content > .desc {
      font-weight: 400;
      font-size: 18px;
      line-height: 32px;
      font-family: "Barlow Condensed", sans-serif;
      text-align: left;
      color: #d0d6f9;
    }
    .btn:hover {
      border: #ffffff 1.5px solid;
    }
  }
}
